.postImage{
    width: 100%;
}

.comment{
    width: 90%;
    margin-left: 10px;
    margin-top: 15px;
}

.photo-btn{
    width: 100%;
    background-color: rgb(228, 91, 0);
    color: rgb(255, 255, 255);
}