<div>
    <img [src]="url" class="postImage" *ngIf="file != null">
</div>
<button mat-raised-button class="photo-btn" (click)="fileInput.click()">
    <mat-icon>add_a_photo</mat-icon> Selecionar foto
    <input #fileInput accept="image/*" type="file" (change)="incomingfile($event)" style="display: none;">
</button>

<div>
    <mat-form-field class="comment">
        <mat-label>Legenda</mat-label>
        <textarea matInput cdkTextareaAutosize [(ngModel)]="legend"></textarea>
    </mat-form-field>
    <button mat-icon-button color="primary" matTooltip="Enviar postagem" (click)="upload()">
        <mat-icon>send</mat-icon>
    </button>
</div>