<mat-form-field class="block" style="width: 100%;" appearance="outline" *ngIf="albuns == null">
    <mat-label>Nome do álbum</mat-label>
    <input matInput [(ngModel)]="name">
</mat-form-field>

<mat-form-field appearance="outline" style="width: 100%;" *ngIf="albuns != null">
    <mat-label>Álbuns</mat-label>
    <mat-select [(ngModel)]="albumSelected">
      <mat-option *ngFor="let album of albuns" [value]="album.id">
        {{album.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<div class="btn-modal">
    <button mat-flat-button color="warn" class="btn" matTooltip="Enviar postagem" (click)="close()">Cancelar</button>
    <button mat-flat-button color="primary" class="btn" matTooltip="Enviar postagem" (click)="save()">Salvar</button>
</div>