.container{
    margin: auto;
    width: 80%;
    background-color: rgb(255, 255, 255);
}

.profile{
    width: 20%;
    height: 100%;
    float: left;
}

.profile-image{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 120px;
}

img{
    padding: 5px; 
    max-width: 100px;
}

.title{
    color: rgb(27, 0, 122);
}

.profile-btn{
    display: block;
    width: 93%;
    max-height: 100px;
    margin: 10px;
    color: white;
}

.edit-btn{
    background-color: rgb(7, 72, 192);
}

.my-post-btn{
    background-color: rgb(0, 14, 138);
}

.post-btn{
    background-color: rgb(197, 6, 6);
}

.feed{ 
    width: 80%;
    height: 100vh;
    overflow-y: auto;
}

.post{
    width: 90%;
    min-height: 400px;
    margin: auto;
}

.postTop{
    width: 50%; 
    height: 85%; 
    float: left;
}

.postImage{
    min-width: 98% !important;
    max-height: 97% !important;
}

.postFooter{
    width: 50%; 
    float: left; 
    height: 15%
}

.comment{
    width: 75%;
    padding-left: 10px;
}

.comment-btn{
    margin-left: 5px;
    background-color: rgb(31, 143, 0);
    color: rgb(255, 255, 255);
}

.visibility{
    position:relative;
    font-size: 22px;
    margin-left: 3px;
    
}

.visibility:hover{
    cursor: pointer;
}

.visibility-off{
    color: rgb(159, 180, 231);
}

.visibility-on{
    color: rgb(5, 37, 114);
}