<div class="container">
    <div class="profile">
        <div class="profile-image">
            <img src="\assets\image\avatar.png" alt="">
            <h3 class="title">{{user.name}}</h3>
        </div>
        <button mat-raised-button class="profile-btn my-post-btn" (click)="getMyPosts()"><mat-icon>dashboard</mat-icon>  Minhas Publicações</button>
        <button mat-raised-button class="profile-btn post-btn" (click)="createPostsModal()" ><mat-icon>publish</mat-icon> Nova Publicação</button>
    </div>
    <div class="feed">
        <div class="post" *ngFor="let post of postArray">
            <div style="height: 400px;">
                <div class="postTop">
                    <img src="{{post.imageUrl}}" alt="Image" class="postImage">
                </div>
                <div class="postTop">
                    <div style="max-width: 465px; height: 100%; overflow: auto; padding-top: 10px;">
                        <mat-form-field class="example-full-width" *ngFor="let commet of post.comments" style="margin: 0px 10px;font-size: 13px; display: block;">
                            <mat-label>{{commet.userName}}</mat-label>
                            <textarea matInput style="color: black;"
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="5" disabled>{{commet.comment}}</textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="postFooter">
                    <section style="font-size: 13px; display: flex; justify-content: left; align-items: center;">
                        <div>{{post.user.email}} - {{post.inclusionDate | date:'dd/MMM/yyyy'}}</div>
                    </section>
                    <section style="font-size: 15px; margin-top: 5px;">{{post.legend}}.</section>
                </div>
                <div class="postFooter">
                    <mat-form-field class="example-full-width comment">
                        <input matInput [(ngModel)]="post.comment" placeholder="Comentar">
                    </mat-form-field>
                    <button mat-icon-button color="primary" matTooltip="Comentar" (click)="saveComment(post)">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>