<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Postagens">
        <div class="feed">
            <div class="post" *ngFor="let post of postList">
                <div style="height: 400px;">
                    <div class="postTop">
                        <img src="{{post.imageUrl}}" alt="Image" class="postImage">
                        <section style="font-size: 13px; display: flex; justify-content: left; align-items: center;">
                            <div>{{post.user.email}} - {{post.inclusionDate | date:'dd/MMM/yyyy'}}</div>
                            <mat-icon (click)="alterStatus(post.id)" class="visibility visibility-on" *ngIf="post.status == 1" matTooltip="Alterar visibilidade">visibility</mat-icon>
                            <mat-icon (click)="alterStatus(post.id)" class="visibility visibility-off" *ngIf="post.status == 0" matTooltip="Alterar visibilidade">visibility_off</mat-icon>
                            <mat-icon (click)="addAlbum(post.id)" class="visibility" matTooltip="Vincular album" >collections_bookmark</mat-icon>
                        </section>
                        <section style="font-size: 15px; margin-top: 5px;">{{post.legend}}.</section>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Álbuns">
        <div class="block">
            <button mat-button style="margin: 15px;" color="primary" (click)="openCreateAlbum()"><mat-icon>note_add</mat-icon> Novo álbum</button>
            <button mat-button style="margin: 15px;" color="primary" (click)="savePhoto()"><mat-icon>insert_photo</mat-icon> Nova foto</button>
        </div>
        <div style="display: inline-block; float: left;">
            <div class="example-small-box mat-elevation-z4" *ngFor="let album of albuns" (click)="getPhotos(album.id)">
                <h5>{{album.user.name}}: <br>{{album.name}}</h5>
            </div>
        </div>
        <div style="float: left;">
            <div *ngFor="let photo of photos">
                <img src="{{photo.imageUrl}}" alt="Image" class="photo">
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>
