.feed{
    margin-top: 15px;
    width: 100%;
    overflow-y: auto;
}

.post{
    width: 90%;
    min-height: 400px;
    margin: auto;
}

.postTop{
    width: 50%; 
    height: 85%;
    margin: 2%;
}

.postImage{
    min-width: 95% !important;
    max-height: 100% !important;
}

.visibility{
    position:relative;
    font-size: 22px;
    margin-left: 3px;
    
}

.visibility:hover{
    cursor: pointer;
}

.visibility-off{
    color: rgb(159, 180, 231);
}

.visibility-on{
    color: rgb(5, 37, 114);
}

.example-small-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
}
  
.example-small-box {
    height: 100px;
    width: 100px;
}

.photo{
    max-width: 500px;
    margin-left: 15%;
}