.btn-c{
    position: absolute;
    right: 5%;
    font-size: 17px;
    color: #ffffff;
}

img{
    margin-top: 0.5%;
}

.content{
    margin: auto;
    width: 100%;
}

.margin-top{
    margin-top: 90px;
}