<div class="toolbar" role="banner" *ngIf="checkToken()">
  <img width="270" alt="Logo Sodep" src="\assets\image\sodep.png"/>
  <button mat-button class="btn-c" color="warn" (click)="logout()"><mat-icon>exit_to_app</mat-icon>SingOut</button>
</div>

<div class="content" role="main" [class.margin-top] = "checkToken()">
    <block-ui></block-ui>
    <router-outlet></router-outlet>
</div>