<div class="body">
    <mat-card class="card">
        <div class="form">
            <div class="logo">
                <img src="\assets\image\sodep.png" width="300" alt="Logo Sodep">
            </div>
            <mat-form-field class="block" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="exemplo@sodep.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">Email é obrigatória</mat-error>
            </mat-form-field>

            <mat-form-field class="block" appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput type="password" placeholder="Digite sua senha" [formControl]="pass">
                <mat-error *ngIf="pass.invalid">Mínimo 4 caracteres</mat-error>
            </mat-form-field>

            <button mat-raised-button class="block btn-l" color="primary" (click)="singIn()">Login</button>

            <button mat-stroked-button class="block btn-c" color="primary" (click)="userRegister()">Cadastrar Usuário</button>
        </div>
    </mat-card>
</div>
