.body {
    min-height: 100vh;
    background-color: #011249;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 700px;
    min-width: 400px;
    align-items: center;
    justify-content: center;
}

.block{
    display: block;
}

.form {
    max-width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-l{
    width: 100%;
    background-color: #011249;
}

.btn-c{
    margin-top: 15px;
    width: 100%;
    color: #011249;
}