<mat-form-field class="block" appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="user.name" maxlength="200" required>
</mat-form-field>
<mat-form-field class="block" appearance="outline">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="user.cpf" required>
</mat-form-field>
<mat-form-field class="block" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="exemplo@sodep.com" [formControl]="email" required>
</mat-form-field>
<mat-form-field class="block" appearance="outline">
    <mat-label>Senha</mat-label>
    <input matInput type="password" placeholder="Digite sua senha" [formControl]="pass" required>
    <mat-error *ngIf="pass.invalid">Mínimo 4 caracteres</mat-error>
</mat-form-field>
<button mat-raised-button class="btn-r" color="primary" (click)="register()">Cadastrar</button>
<button mat-stroked-button class="btn-c" color="warn" (click)="close()">Cancelar</button>