<div>
    <img [src]="url" class="postImage" *ngIf="file != null">
</div>
<button mat-raised-button class="photo-btn" (click)="fileInput.click()">
    <mat-icon>add_a_photo</mat-icon> Selecionar foto
    <input #fileInput accept="image/*" type="file" (change)="incomingfile($event)" style="display: none;">
</button>
<div style="margin-top: 15px; display: flex; justify-content: space-around; align-items: center;">
    <mat-form-field appearance="outline" style="width: 70%;">
        <mat-label>Álbuns</mat-label>
        <mat-select [(ngModel)]="albumSelected">
          <mat-option *ngFor="let album of albuns" [value]="album.id">
            {{album.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <button mat-flat-button color="warn" style="width: 45%;" (click)="close()">Cancelar</button>
    <button mat-flat-button color="primary" style="width: 45%;"(click)="upload()">Salvar</button>
</div>
