/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ffffff;
}

.toolbar {
    height: 90px;
    margin: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #011249;
    font-weight: 600;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(223, 223, 223);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 218, 218);
}